/* Searchbar */
.user-search {
    color: #8c7e7e;
    cursor: auto;
    font-family: var(--font-family-koho);
    font-weight: 600;
    font-size: var(--font-size-m);
    margin-top: 2%;
    margin-bottom: 35px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.searchbar-user {
    height: 40px;
    border: 0.7mm solid;
    border-radius: 3mm;
    border-color: #0F1930;
    width: 38vw;
    /* width: 50%; */
    background-color: #D9D9D9;
    opacity: 1;
}

@media (max-width: 768px) {
    .searchbar-user {
        height: 40px;
        width: 70vw;
    }
}

.pricing-card-title {
    /* font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2; */
    color: #D9D9D9;
    margin-top: 10px;
    text-align: center;
    font-weight: 350;
    /* margin-bottom: 0.75rem; */
}

.col-search {
    margin-bottom: 0;
    margin-top: -10px;
}

.card-filter {
    border-radius: 1rem;
    transition: all 0.2s;
    background-color: #0F1E31;
    height: auto;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    /* margin-left: 50px; */
    /* width: 100% !important; */
}

.col-filter {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 1.5%;
}

.row {
    width: 99%;
}

.checkpoints {
    color: rgb(224, 209, 209);
    cursor: pointer;
    font-family: var(--font-family-koho);
    font-weight: 600;
    font-size: var(--font-size-m);
    margin-top: 5%;
    margin-bottom: 2.5%;
    /* width: 80%; */
    display: flex;
    justify-content: flex-end !important;
    flex-direction: column;

}

.checkpoint {
    /* margin: 10px; */
    width: 90%;
    /* margin-top: 10px; */
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #9f9999 !important; */
    cursor: auto;
}

label {
    margin-left: 8px;
}

.button-container {
    margin-top: 40px;
    padding: 0px 20px;
    margin-bottom: 20px;
    gap: 10px;
    /* display: flex;
align-items: center; */

    /* space-between: 25px; */
}

.btn-secondary {
    margin-right: 6px;
    padding: 5px 23px;
}

.btn-primary {
    margin-left: 6px;
    padding: 5px 23px;

}


@media screen and (max-width: 1175px) {
    .btn-primary {
        margin-top: 10px;
        margin-left: 0px;
    }

    .btn-secondary {
        margin-right: 0px;
    }
}

@media screen and (max-width: 766px) {
    .btn-primary {
        margin-top: 0px;
        margin-left: 10px;
    }

    .btn-secondary {
        margin-right: 0px;
    }
}

.cardUpper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 15px; */
    align-items: center;
    padding-right: 10px;

}

.card-data {
    border-radius: 1rem;
    transition: all 0.2s;
    background-color: #0F1E31;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    /* width: 50%; */
    flex: 0 0 calc(50% - 75px);
    padding-right: 10px;
}

.card-body-data {
    /* transition: all 0.2s; */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-note {
    border-radius: 1rem;
    transition: all 0.2s;
    background-color: #0F1E31;
    height: 310px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.CommunityDataNote {
    margin-right: 5px;
}

.CommunityDataSub {
    margin-left: 5px;
}

.CommunityData {
    font-size: 20px;
    font-weight: 600;
    color: rgb(149, 185, 253);
}

.CommunityData,
.CommunityIcon {
    display: flex;
    width: 100%;
}

.CommunityStar,
.CommunityView,
.CommunityRemix {
    /* display: flex; */
    width: 50%;
    /* border: 1px solid #6e6e6e; */
    gap: 5px;
    height: 25px;
    /* justify-content: flex-end; */
}


.CommunityCreated {
    margin-left: 15px;
}

.data-row {
    display: flex;
    align-items: center;
}


.CommunityIcon {
    flex-direction: row;
    display: flex;
    /* height: auto; */
    color: #D9D9D9;
    margin-bottom: 15px;
    margin-top: 5px;

}

.CommunityDownloadIcon {
    width: 65%;
    /* margin-right: 10px; */
    display: flex;
    gap: 10px;
    /* margin-left: 3%; */
    margin-bottom: 5px;
}


.Like,
.Unlike {
    width: 20px;
    height: 18px;
    margin-top: -5px;
}

.RemixComm {
    width: 18px;
    height: 18px;
    margin-top: -2px;
}

.ViewComm {
    width: 18px;
    height: 18px;
    margin-top: -3px;
}

.NameBy,
.DateOn {
    margin-left: 5px;
    color: #9f9f9f;
}

.On,
.By {
    color: #c7c7c7;
}

.icon-row {
    color: #9f9f9f;
    ;
}





@media screen and (max-width: 1450px) {
    .card-data {
        width: 95%;
        /* flex: 0 0 calc(50% - 40px);
        padding-right: 10px; */
    }

    .CommunityIcon {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 10px;
        margin-top: 0;
    }

    .On {
        margin-left: -15px;
    }

    .data-row {
        text-align: start;
        /* align-items: start; */
    }

    .CommunityDownloadIcon {
        margin-left: -5px;
        width: 70%;
        margin-top: -5px;
    }
}

@media screen and (max-width: 1300px) {

    .cardUpper {
        width: 110%;
        display: flex;
        /* flex-direction: column; */
    }

    .card-data {
        width: 100%;
    }

    .CommunityDownloadIcon {
        width: 80%;
    }
}

@media screen and (max-width: 970px) {

    .cardUpper {
        width: 97%;
        display: flex;
        flex-direction: column;
    }

    .card-data {
        width: 95%;
    }

    .CommunityDownloadIcon {
        display: flex;
        flex-direction: row !important;
        margin-left: 5px;
        padding-left: 0;
    }
}

@media screen and (max-width: 767.5px) {

    .cardUpper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 0px !important;
    }

    .card-data {
        width: 95%;
        margin-left: 37px !important;
        overflow-x: hidden;
    }

    .CommunityIcon {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 10px;
        margin-top: 0;
    }

    .CommunityData {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 10px;
        margin-top: 0;
        width: max-content;
    }


    .CommunityCreator {
        width: 100%;
        margin-left: 0;
    }

    .CommunityCreated {
        width: 100%;
        margin-left: 15px;
    }

    .CommunityStar,
    .CommunityView,
    .CommunityRemix {
        margin-right: 0 !important;
        width: 20%;
    }


    .CommunityDownloadIcon {
        width: 90%;
    }


}

@media screen and (max-width: 400px) {

    .cardUpper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 0px !important;
    }

    .card-data {
        width: 95%;
        margin-left: 30px !important;
        overflow-x: hidden;
    }

    .CommunityIcon {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 10px;
        margin-top: 0;
    }

    .CommunityData {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 10px;
        margin-top: 0;
        width: max-content;
    }


    .CommunityCreator {
        width: 100%;
        margin-left: 0;
    }

    .CommunityCreated {
        width: 100%;
        margin-left: 15px;
    }

    .CommunityStar,
    .CommunityView,
    .CommunityRemix {
        margin-right: 0 !important;
        margin-left: 0px !important;
        width: 40%;
    }


    .CommunityDownloadIcon {
        width: 90%;
    }

    .user-search {
        margin-top: 2%;
        margin-bottom: 35px;
        margin-left: 30px;
    }


}