/* Searchbar */
.user-search {
    color: #8c7e7e;
    cursor: auto;
    font-family: var(--font-family-koho);
    font-weight: 600;
    font-size: var(--font-size-m);
    margin-top: 2%;
    margin-bottom: 35px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.searchbar-user {
    height: 40px;
    border: 0.7mm solid;
    border-radius: 3mm;
    border-color: #0F1930;
    width: 38vw;
    /* width: 50%; */
    background-color: #D9D9D9;
    opacity: 1;
}

@media (max-width: 768px) {
    .searchbar-user {
        height: 40px;
        width: 70vw;
    }
}

.pricing-card-title {
    /* font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2; */
    color: #D9D9D9;
    margin-top: 10px;
    text-align: center;
    font-weight: 350;
    /* margin-bottom: 0.75rem; */
}

.col-search {
    margin-bottom: 0;
    margin-top: -10px;
    /* width: 94.5%; */
}

.card-filter {
    border-radius: 1rem;
    transition: all 0.2s;
    background-color: #0F1E31;
    height: auto;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    /* margin-left: 50px; */
    /* width: 100% !important; */
}

.col-filter {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 1.5%;
}

.row {
    width: 99%;
}

.checkpoints {
    color: rgb(224, 209, 209);
    cursor: pointer;
    font-family: var(--font-family-koho);
    font-weight: 600;
    font-size: var(--font-size-m);
    margin-top: 5%;
    margin-bottom: 2.5%;
    /* width: 80%; */
    display: flex;
    justify-content: flex-end !important;
    flex-direction: column;

}

.checkpoint {
    /* margin: 10px; */
    width: 90%;
    /* margin-top: 10px; */
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #9f9999 !important; */
    cursor: auto;
}

label {
    margin-left: 8px;
}

.button-container {
    margin-top: 40px;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.btn-secondary {
    margin-right: 6px;
    padding: 5px 23px;
}

.btn-primary {
    margin-left: 6px;
    padding: 5px 23px;

}

@media screen and (max-width: 1175px) {
    .btn-primary {
        margin-top: 10px;
        margin-left: 0px;
    }

    .btn-secondary {
        margin-right: 0px;
    }
}

@media screen and (max-width: 766px) {
    .btn-primary {
        margin-top: 0px;
        margin-left: 10px;
    }

    .btn-secondary {
        margin-right: 0px;
    }
}

.cardUpper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-data {
    border-radius: 1rem;
    transition: all 0.2s;
    background-color: #0F1E31;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.card-body-data {
    /* transition: all 0.2s; */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-note {
    border-radius: 1rem;
    transition: all 0.2s;
    background-color: #0F1E31;
    height: 310px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.CommunityDataNote {
    margin-right: 5px;
}

.CommunityDataSub {
    margin-left: 5px;
}

.CommunityData {
    font-size: 20px;
    font-weight: 600;
    color: rgb(149, 185, 253);
}

.CommunityData,
.CommunityIcon {
    display: flex;
    width: 100%;
}

.CommunityStar,
.CommunityRemix {
    /* display: flex; */
    width: 40%;
    /* justify-content: flex-end; */
}

.CommunityCreated {
    margin-left: 15px;
}

.data-row {
    display: flex;
    align-items: center;
}


.CommunityIcon {
    flex-direction: row;
    display: flex;
    /* height: auto; */
    color: #D9D9D9;
    margin-bottom: 15px;
    margin-top: 5px;

}

.CommunityDownloadIcon {
    width: 25%;
    margin-right: 10px;
    display: flex;
    /* margin-top: 5%; */
    margin-left: 3%;
}

.CommunityStar {
    margin-top: 3px;
}

.Like,
.Unlike {
    width: 20px;
    height: 20px;
    margin-top: -9px;
}

.RemixComm {
    width: 18px;
    height: 18px;
}

.NameBy,
.DateOn {
    margin-left: 5px;
    color: #9f9f9f;
}

.On,
.By {
    color: #c7c7c7;
}

@media screen and (max-width: 767.5px) {

    .cardUpper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-data {
        width: 95%;
    }

    .CommunityIcon {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 10px;
        margin-top: 0;
    }

    .CommunityData {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 10px;
        margin-top: 0;
        width: max-content;
    }

    .CommunityCreated,
    .CommunityCreator {
        width: 100%;
        margin-left: 0;
    }

    .CommunityStar,
    .CommunityRemix {
        margin-right: 0 !important;
        padding: 0;
        width: 10%;
    }

    .CommunityDownloadIcon {
        display: flex;
        flex-direction: row !important;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .Like,
    .Unlike {
        width: 22px;
        height: 22px;
    }

    .RemixComm {
        margin-top: -1px;
    }

    .card-body-data {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 950px) {

    .cardUpper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-data {
        width: 95%;
    }

    .CommunityDownloadIcon {
        display: flex;
        flex-direction: row !important;
        margin-left: 5px;
        padding-left: 0;
    }
}