.card-body {
    background-color: #0F1E31;
    border-radius: 8px;
    padding-bottom: 1vh;
}

/* .row {
    margin-top: -15px;
} */
.dash-main {
    height: 75vh;
    margin-top: -1vh;
}

.shadow-sm {
    margin-left: 5%;
    margin-bottom: 15px !important;
    /* height: 40vh; */
}

.shadow-sm-task {
    margin-left: 5%;
    margin-bottom: 0px;
    /* height: 30vh; */
}

.btn-Edit {
    width: 35%;
}

.infophoto {
    border-radius: 50%;
    width: 28%;
    margin-top: -10px;
    background-color: #a8acb1;
}

.list-unstyled {
    margin-top: 2vh;
    color: #D9D9D9;
    margin-bottom: 1vh !important;
    list-style: none;
}

.username {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1vh;
    padding-bottom: 5px;
    background-color: #353d52;
    color: #babdc2;
}

.upcoming-row {
    margin-bottom: 0px !important;
}

.card-body-task {
    background-color: #0F1E31;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 0px !important;
    padding-left: 20px;
    padding-bottom: 1vh;
    /* height: 30vh; */
}

.upcomming-title {
    color: #D9D9D9;
    font-size: 23px;
    display: flex;
    align-items: end;
    margin-top: 0px;
}

.mycheck {
    color: #D9D9D9;
    list-style: none;
    margin-top: 10px;
    align-items: center !important;
}

.task-but {
    display: flex;
    align-items: end;
}

.taskOperate {
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 10px;
}

.taskOperateadd {
    border-radius: 5px;
    margin-top: 3%;
    /* margin-left: 10px; */
}


.task-input {
    margin-top: 10px;
    width: 70%;
    margin-right: 7%;
    text-decoration: none;
    display: flex;
    align-items: end;
}

.mycheck {
    display: flex;
    text-align: left;
}

.checkBox {
    margin-left: 5px;
}

label {
    display: flex;
    align-items: start;
}

/* SaveNotes CSS */

.col-save {
    display: flex;

    @media (max-width: 768px) {
        margin-left: 15px;
    }
}

.card-save-dash {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.card-body-save {
    height: 100%;
    width: 100%;
    background-color: #0F1E31;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
}

.card-notes-select {
    color: #D9D9D9;
    font-size: 20px;
}

.notes-select {
    border-bottom: 1px solid #a8acb1;
    border-left: 1px solid #626161;
    cursor: pointer;
    background-color: #0d1528;
}

.my-notes {
    border-top-left-radius: 8px;
}

.starred-notes {
    border-top-right-radius: 8px;
}

.notes-select:hover {
    background-color: #222D47;
}

.row-notes-select {
    margin: 0 !important;
    width: 100%;
}

.notes-head {
    margin-top: 3px;
    margin-bottom: 0px;
}


/* NOTES DISPLAY */

.card-Notes-display {
    height: 100%;
    width: 96%;
    margin: 20px 0px 0px 20px;
    padding-right: 15px;
}

/* MY NOTES */

.row-notes-display {
    margin: 0;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col-display {
    background-color: #080c10;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    height: auto;
    /* height: 150px; */
    padding: 0px;
    flex: 0 0 calc(24.5% - 10px);

    @media (max-width: 1060px) {
        flex: 0 0 calc(32% - 10px);
    }

    @media (max-width: 950px) {
        flex: 0 0 calc(50% - 10px);
    }

    /* @media (max-width: 770px) {
        flex: 0 0 calc(50% - 10px);
    } */
}

.note-rec-head {
    background-color: #0c1e48;
    margin-top: 0px;
    padding: 5px 0px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title-note {
    color: #D9D9D9;
    font-size: 18px;
    margin: 0px;
}

.col-display li {
    color: #D9D9D9;
    border-left: 0.5px solid #757575;
    width: 40%;
    font-size: 15px;
}

.col-display ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

.icon-my-notes {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #0F1E31;
    border-radius: 8px;
    /* margin-top: 80px; */

    /* height: 40%; */
}

.note-rec-body {
    height: 85px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.note-rec-body p {
    margin: 2px 5px;
    padding: 0px;
    color: #D9D9D9;
    font-size: 14px;
}

.IconDash {
    margin-left: 5px;
    font-size: 15px;
    margin-right: 5px;
}