body {
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#basic-navbar-nav {
background-color: #0F1E31;
min-height: 70px;
margin-top: -15px;
border-bottom: 1px solid #90A6C1;
position: relative;
}

.navbar-whole {
  background-color: transparent;
  min-height: 70px;
  position: relative;
}

.navbar-whole .ml-auto{
display: flex;
justify-content: center;
align-items: center;
margin-top: -30px;
}

.navabout{
color: #D9D9D9;
margin-left: 30px;
margin-top: 20px;
margin-bottom: -10px;
/* margin-right: 30px; */
}

.navabout:hover {
color: #90A6C0;
}

.navbar-whole .navbar-toggler {
  background-color: #2f4460; /* set your desired light color */
  border: none;
  margin-left: 10px;
  z-index: 1;
}


.Head{
text-align: center;
font-size: 5vw;
color: #fff;
/* margin-top: -20px; */
}

.pinkback1{
width: 40%;
margin-top: -20px;

/* margin-left: -10px; */
}

.pinkback2{
transform: matrix(-1, 0, 0, 1, 0, 0);
width: 40%;
/* transform: rotate(180deg); */
margin-left: 20%;
margin-top: -20px;
}

.Logo {
  border-radius: 50%;
  width: 15%;
  position: absolute;
  margin-top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}

.JoinCom{
background-color: #0F1E31;
width: 100%;
padding-bottom: 30px;
border-bottom: 1px solid #fff;
margin-top: 10px;
}

.Join{
color: #D9D9D9;
text-align: center;
padding-top: 20px;
animation: slide-in 1s ease-out forwards;
}

.TakeNotes{
color: #90A6C1;
text-align: center;
font-size: 1.3vw;
margin-top: 20px;
margin-left: 41%;
}

.deleting{
color: #D9D9D9;
text-align: center;
font-size: 1.3vw;
margin-top: 20px;

}

.Them{
color: #90A6C1;
text-align: center;
font-size: 1.3vw;
margin-top: 20px;

}

.TryGyaanSetu{
font-size: 85%;
text-align: center;
border-radius: 10px;
border: 2px solid #3e484a;
margin-top: 14%;
width: 20%;
min-width: 180px;
height: 40px;
background-color: #D9D9D9;
font-weight: 500;
}


.TryIt{
display: flex;
justify-content: center;
align-items: center;
}

.ArrowUp{
width: 15px;
margin-left: 10px;
margin-bottom: 5px;
}

.JoinContainer {
background-color: #0F1E31;
 display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px ;
color: #D9D9D9;

}

.JoinImg {
width: 35%;
/* margin-right: 20px; */
height: 100%;
object-fit: cover;
}

.JoinInfo {
  flex: 1;
  padding: 20px;
}

.JoinHead {
color: #D9D9D9;
padding: 20px;
padding-bottom: 0%;
}

.JoinPara {
color: #90A6C0;
padding: 20px;
padding-top: 0%;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .JoinContainer {
    flex-direction: column;
  }
    .JoinImg {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;  
}
}

.TakeNotesContainer {
background-color: #0F1E31;
 display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
color: #D9D9D9;
}

.BackNotes {
width: 38%;
height: 100%;
object-fit: cover;
}

@media screen and (max-width: 768px) {
  .TakeNotesContainer {
    flex-direction: column;
  }
  .BackNotes {
    width: 100%;
    height: 120px;
    margin-top: 10px;  
}
}


.TakeNotesInfo {
  flex: 1;
  padding: 20px;
}


.TakeNotesHead {
  margin-top: 0;
 color: #D9D9D9;
padding: 20px;
padding-bottom: 0 ;
}

.TakeNotesPara {
  margin-bottom: 0;
color: #90A6C0;
padding: 20px;
padding-top: 0%;
}

.ContributionSector{
margin: 20px;
}

.ContributeHead{
color: #D9D9D9;
}

.ContributePara{
color: #90A6C0;
}


.About{
background-color: #0F1E31;
/* margin-top: 5%; */
padding-top: 10px;
padding-bottom: 3px;
border-top: 1px solid #fff;
}

.AboutUs{
color: #D9D9D9;
text-align: center;
font-size: 140%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25%;
  padding-top: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  width: 65%;
  /* height: 150px; */
  border-radius: 50%;
}

.profile-info {
  padding: 20px;
  text-align: center;
  color: #D9D9D9;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.footer{
background-color: #0F1E31;
padding: 20px;
margin-top: 8%;
}

.foot{
width: 99%;
padding-left: 25%;
padding-right: 10%;
}

li{
color: #595C74;
font-size: 90%;
text-decoration: none;
}

h7{
color: #D9D9D9;
margin-left: 5%;
}

.terms{
text-decoration: none;
color: #6F707B;
}










::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0F1E31; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #213b5e; 
}