.ml-auto{
color: #D9D9D9;
display: flex;
justify-content: center;
align-items: center;
}

.navabout{
color: #D9D9D9;
margin-left: 30px;
margin-top: 10px;
margin-bottom: -10px;
}

.Head{
text-align: center;
font-size: 5vw;
color: #fff;
margin-top: 20px;
/* border-bottom: 1px solid #fff; */
}

.pinkback1{
width: 40%;
margin-top: -20px;
}

.pinkback2{
width: 40%;
transform: rotate(180deg);
margin-left: 20%;
margin-top: -20px;
}

.line {
  position: absolute;
  /* top: 20%; */
  /* top: 43%; */
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  border: none;
  border-top: 2px solid white; /* adjust border style as needed */
}

.Logo {
  border-radius: 50%;
  width: 15%;
  position: absolute;
  margin-top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* set z-index to overlap the line */
}

.JoinCom{
background-color: #0F1E31;
/* height: ; */
width: 100%;
/* margin-top: 1%; */
padding-bottom: 30px;
border-bottom: 1px solid #fff;
/* margin-top: 380px; */
}

.Join{
color: #D9D9D9;
text-align: center;
/* font-size: 3vw; */
padding-top: 20px;
}

.TakeNotes{
color: #90A6C1;
text-align: center;
font-size: 1.3vw;
margin-top: 20px;
margin-left: 41%;
}

.deleting{
color: #D9D9D9;
text-align: center;
font-size: 1.3vw;
margin-top: 20px;

}

.Them{
color: #90A6C1;
text-align: center;
font-size: 1.3vw;
margin-top: 20px;

}

.TryGyaanSetu{
font-size: 85%;
text-align: center;
border-radius: 10px;
border: 2px solid #2b7b8a;
margin-top: 3%;
width: 20%;
min-width: 100px;
height: 40px;
background-color: #D9D9D9;
font-weight: 500;
}


.TryIt{
display: flex;
justify-content: center;
align-items: center;
}

.ArrowUp{
width: 15px;
margin-left: 10px;
margin-bottom: 5px;
}

/* .JoinInfo{
background-color: #0F1E31;
margin-top: 5%;
padding-top: 10px;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 10px;
border-bottom: 1px solid #fff;
}

.JoinHead{
margin-top: 15px;
color: #D9D9D9;
margin-left: 10px;
font-size: 130%;
}

.JoinPara{
margin-top: 15px;
color: #90A6C0;
margin-left: 10px;
font-size: 100%;
} */

.JoinContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
background-color: #0F1E31;
}

.JoinImg {
  max-width: 35%;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px; 
}

.JoinInfo {
  flex: 1;
}

.JoinHead {
  margin-top: 0;
color: #D9D9D9;
}

.JoinPara {
  margin-bottom: 0;
color: #90A6C0;
}

@media screen and (max-width: 768px) {
  .JoinContainer {
    flex-direction: column;
  }
}

/* .TakeNotesInfo{
margin-top: 5%;
padding-top: 10px;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 10px;
}

.TakeNotesHead{
margin-top: 15px;
color: #D9D9D9;
margin-left: 10px;
font-size: 130%;
}

.TakeNotesPara{
margin-top: 15px;
color: #90A6C0;
margin-left: 10px;
font-size: 100%;
} */

.TakeNotesContainer {
background-color: #0F1E31;
/* background-color: #90A6C0; */
 display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
color: #D9D9D9;
}

.BackNotes {
  max-width: 38%;
  height: auto;
  /* margin-right: 40px; */
  /* margin-bottom: 20px; */
padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .TakeNotesContainer {
    flex-direction: column;
  }
}

.TakeNotesInfo {
  flex: 1;
padding-right: 20px;
  /* padding-bottom: 30px; */
}

.TakeNotesHead {
  margin-top: 0;
 color: #D9D9D9;
}

.TakeNotesPara {
  margin-bottom: 0;
color: #90A6C0;
}


.About{
background-color: #0F1E31;
/* margin-top: 5%; */
padding-top: 10px;
padding-bottom: 3px;
border-top: 1px solid #fff;
}

.AboutUs{
color: #D9D9D9;
text-align: center;
font-size: 140%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25%;
  padding-top: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  width: 65%;
  /* height: 150px; */
  border-radius: 50%;
}

.profile-info {
  padding: 20px;
  text-align: center;
  color: #D9D9D9;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.footer{
background-color: #0F1E31;
padding: 20px;
margin-top: 8%;
}

.foot{
width: 99%;
padding-left: 25%;
padding-right: 10%;
}

li{
color: #595C74;
font-size: 90%;
text-decoration: none;
}

h7{
color: #D9D9D9;
margin-left: 5%;
}

.terms{
text-decoration: none;
color: #6F707B;
}










::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #162238; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a5959; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}