/* .firstt {
background-color: black;
display: flex;
justify-content: center;
align-items: center;
} */

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-color: black;
}

#basic-navbar-nav {
  /* background-color: #0F1E31; */
  background: transparent;
  min-height: 70px;
  /* margin-top: -30px; */
  /* border-bottom: 1px solid #90A6C1; */
  position: relative;
}

.navbar-whole {
  background-color: transparent;
  min-height: 70px;
  position: relative;
}

.navbar-whole .ml-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.navabout {
  color: #D9D9D9;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: -10px;
  /* margin-right: 30px; */
}

.navabout:hover {
  color: #90A6C0;
}

.navbar-whole .navbar-toggler {
  background-color: #1b293b;
  border: none;
  margin-left: 10px;
  z-index: 1;
  /* width: 10%;
  height: 10%; */
}


.Head {
  text-align: center;
  font-size: 5vw;
  color: #fff;
  /* margin-top: -20px; */
}

.pinkback1 {
  width: 40%;
  margin-top: -20px;

  /* margin-left: -10px; */
}

.pinkback2 {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 40%;
  /* transform: rotate(180deg); */
  margin-left: 20%;
  margin-top: -20px;
}

.Logo {
  border-radius: 50%;
  width: 15%;
  position: absolute;
  margin-top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.JoinCom {
  background-color: #0F1E31;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
  margin-top: 10px;
}

.Join {
  color: #D9D9D9;
  text-align: center;
  padding-top: 20px;
  animation: slide-out 1s ease-out forwards;
}

.TakeNotes {
  color: #90A6C1;
  text-align: center;
  font-size: 1.3vw;
  margin-top: 20px;
  margin-left: 41%;
}

.deleting {
  color: #D9D9D9;
  text-align: center;
  font-size: 1.3vw;
  margin-top: 20px;

}

.Them {
  color: #90A6C1;
  text-align: center;
  font-size: 1.3vw;
  margin-top: 20px;

}

@media screen and (max-width: 400px) {

  .Head {
    font-size: 10vw;
  }

  .pinkback2,
  .pinkback1 {
    margin-top: 6px;
  }

  .Logo {
    width: 22%;
    margin-top: 11%;
    left: 50%;
  }

  .TakeNotes,
  .deleting,
  .Them {
    font-size: 4.5vw;
  }

  .TakeNotes {
    margin-left: 21%;
  }

  .JoinCom {
    margin-top: 20px;
    height: 85px;
  }

  .Join {
    padding-top: 10px;
    font-size: 5.5vw;
  }

  .navabout {
    margin-left: 0px;
    margin-top: 10px;
  }
}


.TryGyaanSetu {
  font-size: 85%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #3e484a;
  margin-top: 14%;
  width: 20%;
  min-width: 180px;
  height: 40px;
  background-color: #D9D9D9;
  font-weight: 500;
}


.TryIt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ArrowUp {
  width: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.JoinContainer {
  background-color: #0F1E31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  color: #D9D9D9;
  /* animation: slide-in 1s ease-out forwards; */
}

.animate-slide-in {
  animation: slide-in 1s ease-out forwards;
}

.JoinImg {
  width: 35%;
  /* margin-right: 20px; */
  height: 100%;
  object-fit: cover;
}

.JoinInfo {
  flex: 1;
  padding: 20px;
}

.JoinHead {
  color: #D9D9D9;
  padding: 20px;
  padding-bottom: 0%;
}

.JoinPara {
  color: #90A6C0;
  padding: 20px;
  padding-top: 0%;
  margin-top: 20px;

}

.JoinPara1 {
  color: #90A6C0;
  padding: 20px;
  padding-top: 0;
  margin-top: -30px;

}



@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .JoinContainer {
    flex-direction: column;
  }

  .JoinImg {
    width: 100%;
    height: 120px !important;
    margin-bottom: 10px;
  }

  .container {
    flex-direction: column;
  }

  .TakeNotesContainer {
    flex-direction: column;
  }

  .BackNotes {
    width: 100% !important;
    height: 120px !important;
    margin-top: 10px !important;
  }
}




.TakeNotesContainer {
  background-color: #0F1E31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  color: #D9D9D9;
}

.BackNotes {
  width: 38%;
  height: 100%;
  object-fit: cover;
}

.image-border {
  border: 2px solid #00ff00;
  /* Border color */
  animation: move-border 5s linear infinite;
}


@keyframes move-border {
  0% {
    border-radius: 0;
    transform: translate(0, 0);
  }

  25% {
    border-radius: 50%;
    transform: translate(100%, 0);
  }

  50% {
    border-radius: 0;
    transform: translate(100%, 100%);
  }

  75% {
    border-radius: 50%;
    transform: translate(0, 100%);
  }

  100% {
    border-radius: 0;
    transform: translate(0, 0);
  }
}



.TakeNotesInfo {
  flex: 1;
  padding: 20px;
}


.TakeNotesHead {
  margin-top: 0;
  color: #D9D9D9;
  padding: 20px;
  padding-bottom: 0;
}

.TakeNotesPara {
  margin-bottom: 0;
  color: #90A6C0;
  padding: 20px;
  padding-top: 0%;
}

.ContributionSector {
  margin: 20px;
}

.ContributeHead {
  color: #D9D9D9;
}

.ContributePara {
  color: #90A6C0;
}


.About {
  background-color: #0F1E31;
  /* margin-top: 5%; */
  padding-top: 10px;
  padding-bottom: 3px;
  border-top: 1px solid #fff;
}

.AboutUs {
  color: #D9D9D9;
  text-align: center;
  font-size: 140%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25%;
  padding-top: 20px;
}

.profile {
  margin-top: 2%;
  margin-bottom: -4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  max-width: 150px;
  height: auto;
  /* border-radius: 50%; */
}

.profile-info {
  padding: 20px;
  text-align: center;
  color: #D9D9D9;
}





.footer {
  background-color: #0F1E31;
  padding: 20px;
  margin-top: 8%;
}

.foot {
  width: 99%;
  padding-left: 25%;
  padding-right: 10%;
}

li {
  color: #595C74;
  font-size: 90%;
  text-decoration: none;
}

h7 {
  color: #D9D9D9;
  margin-left: 5%;
}

.terms {
  text-decoration: none;
  color: #6F707B;
}










::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0F1E31;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #546b89;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #213b5e;
}