.backgroundNav {
    background-color: #0F1E31;
    top: -33px;
}

.container-style {
    margin: 0px;
    width: 100%;
    padding-right: 0px;
    margin-top: 15px;
}

.responsiveNav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.MalNav {
    width: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.navbar-brand {
    width: 50%;
    display: inline;
}

.Gyaanlogo {

    /* Ensure the image behaves as a block element */
    width: 100%;
    /* Ensure the image fills the container horizontally */
    height: auto;
    /* Let the height adjust automatically */
    object-fit: cover;
    margin-top: -3%;
}

.headsetu {
    font-size: 3vw;
    margin-top: -2%;
    /* font-size: 300%; */
    color: #fff;
    font-family: var(--font-family-koho);
    font-style: normal;
    text-decoration: none;
}

.gyansetu {
    /* width: 48%; */
    margin-top: 20px;
    text-decoration: none;
    width: 40%;
    /* max-width: 600px; */
    height: auto;
    /* max-height: 80px; */
    overflow: hidden;
}

.profile-picture {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: calc(50% - 19px);
    margin-bottom: 10px;
}

.profileDiv {
    width: 50%;
}


.navbar {
    padding-bottom: 0 !important;
    min-height: 100px;
    max-height: 260px;
    overflow: hidden;
    width: 100% !important;
}

.navwork {
    color: #ffff;
    font-size: 20px;
    /* text-align: center; */
    cursor: pointer;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-right: 5px; */
}

.navwork3 {
    /* color: #ffff; */
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    /* width: 90px; */
}

.toggle {
    padding: 0;
    margin-right: 15px;
}


@media (max-width: 991.5px) {

    .navwork3 {
        margin-left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 15px;
    }

    .responsiveNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MalNav {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navwork {
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 450px) {

    .toggle {
        margin-left: auto;
        /* margin-top: 10px; */
        margin-bottom: 10px;
        padding: 0;
    }

    .headsetu {
        font-size: 18px;
    }

    .gyansetu {
        margin-bottom: 20px;
    }
}

@media (max-width: 766px) {
    .gyansetu {
        margin-top: 10px;
        width: 70%;
    }

    .headsetu {
        font-size: 20px;
    }


}