.backgroundNav {
    background-color: #0F1E31;
    top: -33px;
}

.navbar-brand {
    width: 50%;
    display: inline;
}

.Gyaanlogo {

    /* Ensure the image behaves as a block element */
    width: 100%;
    /* Ensure the image fills the container horizontally */
    height: auto;
    /* Let the height adjust automatically */
    object-fit: cover;
    margin-top: -3%;
}

.headsetu {
    font-size: 3vw;
    margin-top: -2%;
    /* font-size: 300%; */
    color: #fff;
    font-family: var(--font-family-koho);
    font-style: normal;
    text-decoration: none;
}

.gyansetu {
    /* width: 48%; */
    margin-top: 20px;
    text-decoration: none;
    margin-right: auto;
    width: 100%;
    /* Set the initial width of the container */
    max-width: 600px;
    /* Set the maximum width of the container */
    height: auto;
    max-height: 80px;
    /* Let the height adjust automatically */
    overflow: hidden;
}

.profilephoto {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.profile-picture {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: calc(50% - 19px);
    margin-bottom: 10px;
}



.navbar {
    padding-bottom: 0 !important;
    min-height: 100px;
    max-height: 260px;
    overflow: hidden;
}

.navwork {
    color: #ffff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
}

.navwork2 {
    color: #ffff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    width: 145px;
}

.navwork3 {
    /* color: #ffff; */
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    width: 90px;
}

.toggle {
    margin-left: auto;
    margin-top: -60px;
    margin-bottom: 20px;
    padding: 0;
}


@media (max-width: 991.5px) {
    .navwork2 {
        margin-left: 50%;
        margin-top: 20px;
        transform: translate(-50%, -50%);

    }

    .navwork3 {
        margin-left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 15px;
    }

}

@media (max-width: 450px) {

    .toggle {
        margin-left: auto;
        /* margin-top: 10px; */
        margin-bottom: 10px;
        padding: 0;
    }

    .headsetu {
        font-size: 18px;
    }

    .gyansetu {
        margin-bottom: 20px;
    }
}

@media (max-width: 380px) {

    .toggle {
        margin-left: auto;
        /* margin-top: 10px; */
        margin-bottom: 10px;
        padding: 0;
    }

    .headsetu {
        font-size: 18px;
    }

    .gyansetu {
        margin-bottom: 20px;
    }
}