.back{
background: linear-gradient(to bottom,rgb(34, 34, 115),#390985);
position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.App{
background-color: #0F1E31;
 display: flex;
  align-items: center;
  justify-content: space-between;
width: 100%;
color: #D9D9D9;

}
.Info {
  flex: 1;
  padding: 20px;
  margin-top: -150px;
}



@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .Info {
    margin-top: 13%;
  }
}

.gyaan{
color: #ccc ;
/* font-size: 2vw; */
margin-bottom: 100px;
margin-top: 15px;
}

.welcome{
color: #ccc;
margin-top: -40px;
font-weight: lighter;
}

.Para{
margin: 20px;
}