body {
background-color: #222D47;
}

.your-topics {
color: #8c7e7e; 
cursor: pointer;
font-family: var(--font-family-koho);
font-weight: 600;
font-size: var(--font-size-m); 
/* position: relative; */
margin-top: 2%;
/* top: 30px; */
opacity: 1;
display: flex;
justify-content: center;
align-content: center;
cursor: auto;
}

.searchbar{
height: 30px;
border: 0.7mm solid;
border-radius: 3mm;
border-color: #0F1930;
width: 40vw;
background-color: #D9D9D9;
opacity: 1;
}

@media (min-width: 500px) {
    .searchbar {
        height: 35px;
    }
}

/* Change height of search bar on screens larger than 900px */
@media (min-width: 900px) {
    .searchbar {
        height: 40px;
    }
}

.rectnotes {
height: 700px;
background-color: #0F1E31;
align-items: center;
opacity: 1; 
position: absolute; 
width: 85%;
padding-left:50px;
padding-right: 20px;
padding-top: 15px;
overflow-x: hidden;
overflow-y: auto;
text-align:justify;
margin-top: 4%;
border: 0.5mm solid;
border-color: #485573;
border-radius: 10px;
right: 12.5%;
left: 7.5%;
/* margin-left: -30px; */
}

 /* @media (min-width: 400px) {
    .rectnotes {
       margin-left: 7.5%; 
    }
} */

 /* @media (min-width: 500px) {
    .rectnotes {
       margin-right: 10%; 
    }
} */

/* @media (min-width: 680px) {
    .rectnotes {
       margin-left: 0;
    }
}

@media (min-width: 790px) {
    .rectnotes {
       margin-left: 5%;
    }
}

@media (min-width: 800px) {
    .rectnotes {
       margin-left: 0;
    }
}

@media (min-width: 900px) {
    .rectnotes {
       margin-right: 24%;
    }
} 


 @media (min-width: 960px) {
    .rectnotes {
       right: -17%;
      margin-left: 0px;
    }
}

 @media (min-width: 1195px) {
    .rectnotes {
       margin-left: 7%;
    }
}

@media (min-width: 1332px) {
    .rectnotes {
       margin-left: 0;
    }
}  */

.savebutt {
border-radius: 20px;
height: 40px;
width: 120px;
background-color: #D9D9D9;
border: 0.7mm solid;
border-color: #485573;
/* margin-right: 2%; */
/* top: 660px;s */
bottom: 12px;
position: fixed;
/* z-index: 1; */
}

.icon{
margin-left: 95%;
}

.remixic {
background-color: #0F1E31;
border: none;
/* margin-left: 95%; */
/* margin-top: 10px; */
position: relative;
}

.commic{
background-color: #0F1E31;
border: none;
margin-left: 6%;
cursor: pointer;
/* margin-top: -53px; */
position: relative;
}

@media screen and (max-width: 900px) {
  .icon {
    flex-direction: column;
  }
  .commic {
    margin-top: 8px;
  }
}


.upward{
position: fixed;
bottom: 12px;
height: 30px;
margin-left: -35px;
}

.saveNotesDiv {
display: flex;
align-items: center;
justify-content: flex-end;
}

.save-note{
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
/* background-color: black; */
/* z-index: 1; */
}

.card-save {
background-color: black ;
display: flex;
align-items: center;
justify-content: center;
height: 320px;
}

.save-inforec {
display: flex;
align-items: center;
justify-content: center;
}

.save-head{
margin-top: 25px;
padding-bottom: 30px;
}

.save-title{
margin-right: 6%;
}


#comment-section {
  position: fixed;
  top: 0;
  right: 0px;
  width: 300px;
  height: 100%;
  background-color: #485573;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease-in-out;
  z-index: 1;
  animation: slide-in 1s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


#comment-button {
  position: absolute;
  top: 10px;
  right: -50px; /* button starts off screen */
  width: 50px;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: right 0.5s ease-in-out;
}

#comment-button.show {
  right: 0; /* slide in from the right */
}

#comment-list {
height: calc(100% - 60px);
  overflow-y: scroll;
width: 310px;
padding: 10px;
}

#comment-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
}

.comment-input-container {
  display: flex;
  align-items: center;
  width: 95%;
}

#comment-textarea {
  width: 90%;
  height: 30px;
  resize: none;
  border: 1px solid gray;
  flex-grow: 1;
  margin-right: 10px;
   
}

#comment-form button {
  background-color: blue;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
  
}

#comment-form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.comment {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(240, 234, 234);
}

.comment p {
  margin: 0;
}

.comment span {
  font-weight: bold;
}



