body {
/* background-color: black; */
background: linear-gradient(to bottom,#391789,rgb(7, 98, 125));
display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 70%;
margin-left: 15%;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
width: 80%;
margin: 40px -70px;
  /* padding: 1rem; */
}

.image-container img {
  max-width: 80%;
  height: 100%;
  object-fit: cover;
    margin: 40px;
}

.signup-container {
margin-top: 40px;
margin-bottom: 40px;
max-width: 70%;
  /* margin: 20px; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #091018;
/* border: 15px solid #063465; */
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  /* margin-bottom: 0.5rem; */
  color: bisque;
  /* margin-right: 10px; */
}

form input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  /* margin-bottom: 1rem; */
margin-left: 15px;
}

form button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #007bff;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .image-container, .login-container {
    flex: 1 1 auto;
    width: 100%;
    /* padding: 2rem; */
  }
}

.gyaan{
color: #ccc ;
/* font-size: 2vw; */
margin-bottom: 100px;
margin-top: 15px;
}

.welcome{
color: #ccc;
margin-top: -40px;
font-weight: lighter;
}

.school{
margin-left: 1rem;
}